{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<header class="relative h-[100vh] w-full"
        style="background-position: center; background-size: cover; background-repeat: no-repeat; background-image: url('{% static 'images/our-services-header-bg.jpg' %}');">
    <!-- Extra black overlay with opacity 0.3 -->
    <div class="absolute inset-0 bg-black opacity-30"></div>

    <section class="h-3/4 fade-in opacity-0 translate-y-10 transition-all duration-500 w-full xl:w-[1240px] m-auto relative z-10">
        {% include 'components/_nav.html' %}
        <div class="w-full h-full flex items-center px-4">
            <h1 class="text-4xl w-full xl:text-[80px] flex items-center flex-col gap-2 text-white font-medium relative text-center z-1 py-2">
                <span class="absolute bg-black bg-opacity-50 inset-0 opacity-50 backdrop-blur-xl z-[-1] rounded"></span>
                <a href="/" class="text-sm hover:text-[#ed4721] transition">{% trans 'Главная' %}</a>
                {% trans 'Контакты' %}
                <br>
                <br>
            </h1>
        </div>
    </section>
</header>
<main class="">
    <section class="flex flex-col gap-10 bg-white py-16 px-4 w-full xl:py-4 xl:w-[1200px] xl:m-auto xl:px-0">
        <div class="w-full xl:w-1/2 m-auto">
            <h2 class="text-4xl text-[#252525] text-center">
                {% trans 'Напишите нам' %}
            </h2>
            <p class="text-xl mt-4 text-justify text-[#252525]">
                {% trans 'Если у вас есть какие то вопросы или хотите заказать у нас услугу, то просто заполните форму и мы с вами обязательно свяжемся' %}
            </p>
        </div>
        <div class="w-full xl:w-1/2 m-auto">
            <form action="{% url 'send_email' %}" class="flex flex-col gap-5" id="orderForm" method="post">
                {% csrf_token %}
                <div class="flex flex-col xl:justify-between xl:flex-row xl:gap-5">
                    <div class="flex flex-col gap-1 xl:w-full">
                        <label for="" class="text-[rgba(0, 0, 0, 0.1)] text-sm">{% trans 'Полное имя' %}</label>
                        <input name="full_name" type="text" class="border border-[rgba(0, 0, 0, 0.2)] p-[0.8rem] outline-none" placeholder="Timur Hisamov" required>
                    </div>
                    <div class="flex flex-col gap-1 xl:w-full">
                        <label for="" class="text-[rgba(0, 0, 0, 0.1)] text-sm">{% trans 'Адрес' %}</label>
                        <input name="address" type="text" class="border border-[rgba(0, 0, 0, 0.2)] p-[0.8rem] outline-none" placeholder="Tashkent, Bektemir, Muxtor Auezov, 67" required>
                    </div>
                </div>
                <div class="flex flex-col xl:justify-between xl:flex-row xl:gap-5">
                    <div class="flex flex-col gap-1 xl:w-full">
                        <label for="" class="text-[rgba(0, 0, 0, 0.1)] text-sm">{% trans 'Номер телефона' %}</label>
                        <input name="phone_number" type="text" class="border border-[rgba(0, 0, 0, 0.2)] p-[0.8rem] outline-none" placeholder="+998 97 445 88 38" required>
                    </div>
                    <div class="flex flex-col gap-1 xl:w-full">
                        <label for="" class="text-[rgba(0, 0, 0, 0.1)] text-sm">{% trans 'Тип сервиса' %}</label>
                        <select name="service_id" type="text" class="border border-[rgba(0, 0, 0, 0.2)] p-[0.8rem] outline-none" required>
                            {% for service in services %}
                                <option value="{{ service.id }}">{{ service.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="flex flex-col gap-1">
                    <label for="" class="text-[rgba(0, 0, 0, 0.1)] text-sm">{% trans 'Сообщение' %}</label>
                    <textarea name="message" type="text" class="resize-none border border-[rgba(0, 0, 0, 0.2)] p-[0.8rem] outline-none w-full" rows="5" required></textarea>
                </div>
                <button type="submit" class="w-full text-white bg-[#ed4721] py-2 rounded">{% trans 'Отправить' %}</button>
            </form>
        </div>
    </section>
    <section class="flex flex-col gap-10 bg-white py-16 px-4 w-full xl:py-4 xl:w-[1200px] xl:px-0 xl:m-auto">
        <h2 class="text-[#252525] text-4xl text-center">{% trans 'О нас' %}</h2>
        <p>
            {% trans '<strong>HITIUM</strong>  начал свою деятельность в 1999 году как монтажная группа, специализирующаяся на сварке нержавеющей стали и установке оборудования для пищевой промышленности. Позже группа начала расширять сферу своей деятельности на предприятия нефтегазовой, химической, фармацевтической и других отраслей.' %}
            <br>
            <br>
            {% trans '<strong>Теперь HITIUM</strong> также занимается производством промышленного оборудования, установкой линий розлива, изготовлением и монтажом вентиляционных и промышленных кондиционерных систем, водоснабжением и канализацией, холодильным оборудованием, монтажом «под ключ» всех видов котельного оборудования, изоляцией емкостей и трубопроводов.' %}
            <br>
            <br>
            {% trans 'Номер телефона' %}: +998 (97) 445 88 38
        </p>
    </section>
</main>
{% endblock content %}