{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<header style="background-position: center; background-size: cover; background-image: url('{% static 'images/home-page-header-bg.jpg' %}'); background-repeat: no-repeat" class="h-[100vh] w-full">
    <section class="fade-in opacity-0 translate-y-10 transition-all duration-500 w-full lg:w-full xl:w-[1240px] xl-w-[1100px] lg-w-[1024px] m-auto">
        {% include 'components/_nav.html' %}
        <div class="w-full xl:w-3/4 flex flex-col gap-[0.1rem] xl:gap-[0.8rem] px-2">
            <h1 class="text-[0.9rem] xl:text-[2rem] text-white font-medium">{% trans 'Монтаж промышленного оборудования' %}</h1>
            <span class="block h-[0.1rem] xl:h-1 xl:p-0 w-1/2 xl:w-20 bg-[#ed4721] my-4"></span>
            <p class="text-[0.8rem] xl:text-[1.25rem] text-white">
                {% blocktrans %}
                    Наша фирма занимается изготовлением промышленного оборудования, монтажом линий розлива, изготовлением и монтажом систем вентиляции и промышленного кондиционирования воздуха, водоснабжения и канализации, холодоснабжения, монтажом под ключ всех видов котельного оборудования, изоляцией емкостей и трубопроводов.
                {% endblocktrans %}
            </p>
            <div class="flex flex-col w-full gap-[0.8rem] xl:flex xl:gap-[2rem] mt-[2rem] xl:mt-[1.5rem]">
                <a href="{% url 'contacts' %}#orderForm" class="text-white transition border border-[#ed4721] bg-[#ed4721] hover:bg-opacity-70 rounded py-[6px] text-center w-full lg:w-1/2 lg:m-auto xl:m-0 xl:py-[16px] active:scale-90 px-0 xl:px-[36px] uppercase block">{% trans 'Заказать услугу' %}</a>
                <a href="{% url 'our_services' %}" class="text-white transition border border-white hover:bg-white hover:opacity-90 hover:text-black rounded py-[6px] text-center w-full lg:w-1/2 lg:m-auto xl:m-0 xl:py-[16px] active:scale-90 px-0 xl:px-[36px] uppercase block">{% trans 'Наши работы' %}</a>
            </div>
        </div>
    </section>
</header>

<main>
    <section class="fade-in opacity-0 translate-y-10 transition-all duration-500 max-w-[1200px] m-auto px-4 py-[2rem] xl:py-[8rem] flex flex-col xl:flex-row items-center justify-between gap-8">
        <div class="w-full">
            <div class="flex flex-col gap-2 text-center xl:grid xl:grid-cols-2 xl:.gap-x-4 xl:gap-y-8">
                <div class="flex flex-col xl:flex-row items-center gap-2 w-full px-4 py-8 xl:py-16 xl:px-8 border border-slate-300 hover:border-black hover:cursor-pointer hover:scale-105 active:scale-90 transition">
                    <img class="w-[60px]" src="{% static 'images/services-1.png' %}" alt="{% trans 'системы вентиляции' %}">
                    <p class="uppercase">{% trans 'системы вентиляции' %}</p>
                </div>
                <div class="flex flex-col xl:flex-row items-center gap-2 w-full px-4 py-8 xl:py-16 xl:px-8 border border-slate-300 hover:border-black hover:cursor-pointer hover:scale-105 active:scale-90 transition">
                    <img class="w-[60px]" src="{% static 'images/services-2.png' %}" alt="{% trans 'монтаж линий разлива' %}">
                    <p class="uppercase">{% trans 'монтаж линий разлива' %}</p>
                </div>
                <div class="flex flex-col xl:flex-row items-center gap-2 w-full px-4 py-8 xl:py-16 xl:px-8 border border-slate-300 hover:border-black hover:cursor-pointer hover:scale-105 active:scale-90 transition">
                    <img class="w-[60px]" src="{% static 'images/services-3.png' %}" alt="{% trans 'водоснабжение и канализация' %}">
                    <p class="uppercase">{% trans 'водоснабжение и канализация' %}</p>
                </div>
                <div class="flex flex-col xl:flex-row items-center gap-2 w-full px-4 py-8 xl:py-16 xl:px-8 border border-slate-300 hover:border-black hover:cursor-pointer hover:scale-105 active:scale-90 transition">
                    <img class="w-[60px]" src="{% static 'images/services-4.png' %}" alt="{% trans 'изоляция емкостей и трубопроводов' %}">
                    <p class="uppercase">{% trans 'изоляция емкостей и трубопроводов' %}</p>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-6 xl:gap-12 w-full">
            <p class="text-[0.9rem] xl:text-[1.8rem] text-justify text-[#252525]">
                {% trans 'У вас возникла необходимость поставить оборудование, запустить его и начать выпускать продукцию? Наши специалисты решат все задачи связанные с этим. От планировки и монтажа оборудования до пуско-наладочных работ и запуска производства.' %}</p>
            <a href="tel:+998974458838" class="w-full py-2 rounded uppercase bg-[#252525] text-white text-center xl:text-start xl:py-[1.5rem] px-[2rem] xl:max-w-max active:scale-90 hover:opacity-90 transition">{% trans 'Позвонить' %} </a>
        </div>
    </section>

    <section id="our-projects" class="py-[2rem] xl:py-[8rem]" style="background-image: url({% static 'images/our-services-bg.jpg' %});">
        <div class="w-full xl:w-[1200px] m-auto">
            <div class="w-full flex flex-col xl:flex-row gap-5 xl:gap-0 items-center justify-between mb-8 xl:mb-16">
                <h2 class="text-3xl uppercase text-white xl:text-4xl">{% trans 'Наши работы' %}</h2>
                <button class="hidden text-white transition border border-white hover:bg-white hover:text-black hover:opacity-90 active:scale-90 py-3 px-4 uppercase">{% trans 'Наши работы' %}</button>
            </div>
            <div class="flex flex-col gap-2 px-2 xl:grid xl:grid-cols-4 xl:gap-10">
                {% for service_obj in services %}
                    <a href="{% url 'service_detail' slug=service_obj.slug %}" class="w-full border-4 xl:w-[15rem] xl:h-[15rem] relative">
                        <div class="absolute flex items-center justify-center p-2 group top-0 left-0 w-full h-full transition bg-transparent hover:bg-[#ed4721] hover:bg-opacity-75 hover:cursor-pointer">
                            <h3 class="transition text-transparent group-hover:text-white text-xl">{{ service_obj.name }}</h3>
                        </div>
                        <img src="/media/{{ service_obj.header_bg }}" alt="{{ service_obj.name }}" style="height: 100%;">
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="px-2 xl:px-0 pt-[4rem] xl:pt-[8rem] w-full xl:w-[1200px] m-auto">
        <section class="fade-in opacity-0 translate-y-10 transition-all duration-500 w-full flex flex-col gap-10 xl:gap-28 xl:flex-row">
            <img class="w-full order-2 xl:order-1 xl:w-[580px] xxl-h-[390px] rounded" src="{% static 'images/steps-images/1.jpg' %}" alt="{% trans 'Разработка' %}">
            <div class="order-1 xl:order-2 flex flex-col items-center text-center xl:items-start xl:text-start gap-10">
                <div class="flex flex-col items-center xl:flex-row gap-2">
                    <img src="{% static 'images/steps-icons/1.png' %}" alt="{% trans 'Разработка' %}">
                    <span class="text-[#ed4721] text-5xl">01</span>
                </div>
                <div class="flex flex-col gap-10">
                    <h2 class="uppercase text-4xl text-[#ed4721] text-center xl:text-start">{% trans 'Разработка' %}</h2>
                    <p class="text-justify">
                        {% blocktrans %}
                            Хороший проектировщик систем вентиляции и отопления изучает потребности конечных пользователей здания (сотрудников или жителей), выявляет особенности и собирает сведения для оценки качества воздуха внутри помещения, даже если жители или другие конечные пользователи не могут определить требования самостоятельно.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </section>
        <hr class="my-16">
        <section class="fade-in opacity-0 translate-y-10 transition-all duration-500 w-full flex flex-col gap-10 xl:gap-28 xl:flex-row">
            <div class="flex flex-col gap-10">
                <div class="flex flex-col items-center xl:flex-row gap-2">
                    <img src="{% static 'images/steps-icons/2.png' %}" alt="{% trans 'Тех. поддержка ?' %}">
                    <span class="text-[#ed4721] text-5xl">02</span>
                </div>
                <div class="flex flex-col gap-10">
                    <h2 class="uppercase text-4xl text-[#ed4721] text-center xl:text-start">{% trans 'Тех. поддержка ?' %}</h2>
                    <p class="text-justify">
                        {% blocktrans %}
                            Наши специалисты по обслуживанию систем кондиционирования поддерживают эксплуатационную готовность оборудования даже в самых тяжелых эксплуатационных условиях. Мы предлагаем вам полный спектр услуг от ввода в эксплуатацию до технического обслуживания.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
            <img class="w-full order-2 xl:order-1 xl:w-[580px] xxl-h-[390px] rounded" src="{% static 'images/steps-images/2.jpg' %}" alt="{% trans 'Тех. поддержка ?' %}">
        </section>
        <hr class="my-16">
        <section class="fade-in opacity-0 translate-y-10 transition-all duration-500 w-full flex flex-col gap-10 xl:gap-28 xl:flex-row">
            <img class="w-full order-2 xl:order-1 xl:w-[580px] xxl-h-[390px] rounded" src="{% static 'images/steps-images/3.jpg' %}" alt="{% trans 'Почему мы ?' %}">
            <div class="order-1 xl:order-2 flex flex-col gap-10">
                <div class="flex flex-col items-center xl:flex-row gap-2">
                    <img src="{% static 'images/steps-icons/3.png' %}" alt="{% trans 'Почему мы ?' %}">
                    <span class="text-[#ed4721] text-5xl">03</span>
                </div>
                <div class="flex flex-col gap-10">
                    <h2 class="uppercase text-4xl text-[#ed4721] text-center xl:text-start">{% trans 'Почему мы ?' %}</h2>
                    <p class="text-justify whitespace-pre-line">
                        {% blocktrans %}- Опытные специалисты, для которых нет не решаемых задач в сфере монтажных работ.
                        - Собственное оборудование – никаких затрат на его аренду.
                        - Внимание к деталям обеспечивает точность, скорость и качество выполнения работ - минимум простоя оборудования за счёт тщательного изучения объекта до начала монтажа.
                        - Доступные цены за счет большого опыта работы и идеально отлаженных бизнес процессов.
                        Ну и просто… наша фирма изначально создана для решения сложных задач, мы ценим клиентов и дорожим репутацией.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </section>
        <hr class="my-4 xl:my-16">
    </section>

    <section style="background-image: url('{% static 'images/hero-bg.jpg' %}');" class="mb-2">
        <div class="flex flex-col xl:flex-row xl:justify-between w-full xl:w-[1200px] m-auto flex">
            <div class="flex flex-col mt-5 xl:mt-20 px-2">
                <img class="mb-5 w-6 h-4 xl:w-10 xl:mb-16 xl:h-10" src="{% static 'images/quote.png' %}" alt="Quote">
                <div class="flex flex-col gap-5 xl:gap-10">
                    <p class="text-sm xl:text-start xl:text-3xl">
                        {% trans 'У Нас более <span class="text-sm xl:text-3xl text-[#ed4721]">25 лет опыта</span> в сварочных работах нержавеющей стали и монтажа оборудования предприятий пищевой промышленности' %}</p>
                    <div class="flex justify-center xl:justify-start">
                        <span class="h-[0.05rem] xl:h-1 w-1/2 xl:w-20 bg-[#ed4721]"></span>
                    </div>
                    <p class="text-sm text-justify xl:text-start xl:text-xl">{% trans 'Независимо от того, строите ли вы новый офис или обновляете вентиляцию, вы можете рассчитывать на наши профессиональные и доступные услуги. Мы работаем с вами, чтобы обеспечить ремонт или установку ваших новых вентиляционных систем.' %}</p>
                    <div class="flex flex-col items-center gap-4 xl:items-start xl:flex-row xl:gap-6">
                        <div class="flex flex-row w-full justify-between xl:justify-start xl:flex-col gap-2 xl:gap-4">
                            <span class="font-bold text-sm xl:text-2xl whitespace-pre-line">{% trans 'Тимур Хисамов' %}</span>
                            <span class="text-sm xl:text-xl">{% trans 'Директор HITIUM' %}</span>
                        </div>
                        <img class="w-3/4" src="{% static 'images/hero-sign.png' %}" alt="Sign">
                    </div>
                </div>
            </div>
            <img class="hidden xl:flex" src="{% static 'images/hero.png' %}" alt="Hero">
        </div>
    </section>

    <section class="bg-[#efefef] px-2 xl:px-0">
        <div class="w-full xl:w-[1200px] m-auto text-center py-2 xl:py-16">
            <h3 class="text-[#A2A9AF] text-xl xl:text-3xl mb-2 xl:mb-4">{% trans 'Наши клиенты' %}</h3>
            <p class="xl:whitespace-pre-line text-sm text-[#A2A9AF] xl:text-lg">
                {% blocktrans %}
                    Мы постоянно расширяем нашу систему, чтобы соответствовать
                    потребностям местных клиентов и нормативным требованиям.
                {% endblocktrans %}</p>
            <div class="w-full overflow-hidden relative">
                <div id="slider" class="grid grid-cols-3 xl:flex xl:flex-row transition-transform duration-500 ease-in-out">
                    <!-- 15 Images -->
                    <img class="w-full xl:w-[240px] flex-shrink-0" src="{% static 'images/our-clients-slider/1.png' %}" alt="Dinay">
                    <img class="w-full xl:w-[240px] flex-shrink-0" src="{% static 'images/our-clients-slider/2.png' %}" alt="Eurotank">
                    <img class="w-full xl:w-[240px] flex-shrink-0" src="{% static 'images/our-clients-slider/3.png' %}" alt="KHS">
                    <img class="w-full xl:w-[240px] flex-shrink-0" src="{% static 'images/our-clients-slider/4.png' %}" alt="Dohler">
                    <img class="w-full xl:w-[240px] flex-shrink-0" src="{% static 'images/our-clients-slider/5.png' %}" alt="GEA">
                    <img class="w-full xl:w-[240px] flex-shrink-0" src="{% static 'images/our-clients-slider/6.png' %}" alt="CocaCola">
                    <img class="w-full xl:w-[240px] flex-shrink-0" src="{% static 'images/our-clients-slider/7.png' %}" alt="Viesmann">
                    <img class="w-full xl:w-[240px] flex-shrink-0" src="{% static 'images/our-clients-slider/8.png' %}" alt="Buderus">
                    <img class="w-full xl:w-[240px] flex-shrink-0" src="{% static 'images/our-clients-slider/9.png' %}" alt="Ferroli">
                    <img class="w-full xl:w-[240px] flex-shrink-0" src="{% static 'images/our-clients-slider/10.png' %}" alt="Danfus">
                    <img class="w-full xl:w-[240px] flex-shrink-0" src="{% static 'images/our-clients-slider/11.png' %}" alt="RC">
                    <img class="w-full xl:w-[240px] flex-shrink-0" src="{% static 'images/our-clients-slider/12.png' %}" alt="Pepsi">
                    <img class="w-full xl:w-[240px] flex-shrink-0" src="{% static 'images/our-clients-slider/13.png' %}" alt="Protect What's Good">
                    <img class="w-full xl:w-[240px] flex-shrink-0" src="{% static 'images/our-clients-slider/14.png' %}" alt="Accuras">
                    <img class="w-full xl:w-[240px] flex-shrink-0" src="{% static 'images/our-clients-slider/3.png' %}" alt="KHS">
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Slider movement -->
<script>
    const slider = document.getElementById("slider");
    const width = window.innerWidth;
    const totalImages = 15;
    const imageWidth = 240;
    let index = 0;
    let direction = 1; // 1 = right, -1 = left

    if (width >= 768) {
        setInterval(() => {
            index += direction;

            if (index === totalImages - 5 || index === 0) {
                direction *= -1; // Reverse direction at edges
            }

            slider.style.transition = "transform 0.5s ease-in-out";
            slider.style.transform = `translateX(-${index * imageWidth}px)`;
        }, 2000);
    }
</script>
{% endblock content %}
