{% extends 'base2.html' %}
{% load i18n static %}

{% block content %}
    <section style="background-image: url('{% static 'images/home-page-header-bg.jpg' %}'); background-repeat: no-repeat; background-size: cover; background-position: bottom;" class="text-center py-24 px-5 bg-linear-to-b from-[#ff5a00]/10 to-transparent border-b border-white/5"
            id="home">
        <h1 class="font-display text-4xl font-bold text-white tracking-tight">{% trans 'HITIUM — инженерные системы и монтаж' %}</h1>
        <p class="text-white mt-3 max-w-2xl mx-auto">{% trans 'Мы создаём надёжные инженерные решения, которые делают здания комфортными, безопасными и энергоэффективными.' %}</p>

        <div class="flex justify-center gap-4 flex-wrap mt-6">
            <a href="tel:+998901234567"
            class="px-6 py-3 rounded-lg bg-[#ff5a00] font-bold shadow-lg shadow-[#ff5a00]/20 hover:bg-[#d94e00] transition">{% trans 'Позвонить' %}</a>
            <a href="https://t.me/hitium"
            class="px-6 py-3 rounded-lg bg-[#ff5a00] font-bold shadow-lg shadow-[#ff5a00]/20 hover:bg-[#d94e00] transition">{% trans 'Написать в Telegram' %}</a>
        </div>
    </section>

    <section id="about" class="max-w-5xl mx-auto px-5 py-16">
        <h2 class="font-display text-4xl text-[#ff5a00] font-semibold text-center">{% trans 'О компании' %}</h2>
        <div class="h-[1px] w-full xl:w-64 bg-[#a5a5a5] m-auto my-5"></div>
        <p class="text-[#a5a5a5] mt-2 text-center">{% trans 'HITIUM — эксперт в области проектирования, монтажа и обслуживания инженерных систем. Мы объединяем технологии, опыт и инновации, чтобы создавать решения, отвечающие самым высоким стандартам качества.' %}</p>
    </section>

    <section id="mission" class="max-w-5xl mx-auto px-5 py-6">
        <div class="text-center mx-auto border-2 border-[#ff5a00] rounded-xl p-6 max-w-xl bg-black text-white">
            <img src="https://hitium.uz/static/images/nav-logo.png" class="h-12 rounded-md object-contain mx-auto"/>
            <h2 class="font-display font-bold text-white text-xl mt-3">{% trans 'Наша миссия' %}</h2>
            <p class="mt-2 text-white">{% trans 'Улучшать конкурентоспособность клиентов, превращая современные технологии в реальные результаты и преимущества.' %}</p>
            <div class="text-right italic mt-3 text-white">{% trans 'Тимур Хисамов' %}</div>
        </div>
    </section>

    <section id="services" class="max-w-6xl mx-auto px-5 py-16">
        <h2 class="font-display text-4xl text-[#ff5a00] font-semibold text-center">{% trans 'Наши услуги' %}</h2>

        <div class="h-px w-full xl:w-64 bg-[#a5a5a5] m-auto my-5"></div>

        <div class="grid gap-6 mt-7 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            {% for service in services %}
                <a href="{% url 'service_detail' slug=service.slug id=service.id %}" class="bg-white/5 rounded-xl p-4 text-center hover:text-[#ff5a00] hover:bg-white/10 transition">
                    <img src="/media/{{ service.header_bg }}" class="h-[200px] w-full rounded-lg mb-3"/>
                    <h3 class="font-display text-lg py-2.5">{{ service.name }}</h3>
                </a>
            {% endfor %}
        </div>
    </section>

    <section id="services" class="max-w-6xl mx-auto px-5 py-16">
        <h2 class="font-display text-4xl text-[#ff5a00] font-semibold text-center">{% trans 'Отзывы' %}</h2>

        <div class="h-px w-full xl:w-64 bg-[#a5a5a5] m-auto my-5"></div>

        <div class="reviews-wrapper overflow-hidden relative">
            <div class="reviews-track flex gap-6">
                {% for review in reviews %}
                    <div class="flex flex-row items-start gap-2 bg-white/5 rounded-xl p-4 text-center hover:text-[#ff5a00] hover:bg-white/10 transition lg:w-[450px]">
                        <img title="{{  review.fullname }}" src="https://res.cloudinary.com/dhtrn05k4/image/upload/v1/shams-media/profile-pictures/user-default.png" class="h-20 w-20 rounded-full"/>
                        <div class="flex flex-col items-end gap-2 text-[#a5a5a5] my-2">
                            <div class="flex flex-row items-center justify-between w-full">
                                <div class="flex flex-col items-start gap-1">
                                    <h3 class="font-semibold text-xl text-center">{{ review.fullname }}</h3>
                                    {% if review.contacts %}
                                        <span class="text-sm">{{ review.contacts }}</span>
                                    {% endif %}
                                </div>
                                <span class="text-xs text-[#a5a5a5]">{{ review.created|date:"d.m.Y" }}</span>
                            </div>
                            <p class="text-start">{{ review.text|truncatechars:100 }}</p>
                            <div class="flex flex-col items-start gap-2 mt-5">
                                {% if review.rating == 1 %}
                                    <span>⭐️</span>
                                {% elif review.rating == 2 %}
                                    <span>⭐️⭐️</span>
                                {% elif review.rating == 3 %}
                                    <span>⭐️⭐️⭐️</span>
                                {% elif review.rating == 4 %}
                                    <span>⭐️⭐️⭐️⭐️</span>
                                {% elif review.rating == 5 %}
                                    <span>⭐️⭐️⭐️⭐️⭐️</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for review in reviews %}
                    <div class="flex flex-row items-start gap-2 bg-white/5 rounded-xl p-4 text-center hover:text-[#ff5a00] hover:bg-white/10 transition lg:w-[450px]">
                        <img title="{{  review.fullname }}" src="https://res.cloudinary.com/dhtrn05k4/image/upload/v1/shams-media/profile-pictures/user-default.png" class="h-20 w-20 rounded-full"/>
                        <div class="flex flex-col items-end gap-2 text-[#a5a5a5] my-2">
                            <div class="flex flex-row items-center justify-between w-full">
                                <div class="flex flex-col items-start gap-1">
                                    <h3 class="font-semibold text-xl text-center">{{ review.fullname }}</h3>
                                    {% if review.contacts %}
                                        <span class="text-sm">{{ review.contacts }}</span>
                                    {% endif %}
                                </div>
                                <span class="text-xs text-[#a5a5a5]">{{ review.created|date:"d.m.Y" }}</span>
                            </div>
                            <p class="text-start">{{ review.text|truncatechars:100 }}</p>
                            <div class="flex flex-col items-start gap-2 mt-5">
                                {% if review.rating == 1 %}
                                    <span>⭐️</span>
                                {% elif review.rating == 2 %}
                                    <span>⭐️⭐️</span>
                                {% elif review.rating == 3 %}
                                    <span>⭐️⭐️⭐️</span>
                                {% elif review.rating == 4 %}
                                    <span>⭐️⭐️⭐️⭐️</span>
                                {% elif review.rating == 5 %}
                                    <span>⭐️⭐️⭐️⭐️⭐️</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <style>
            .reviews-wrapper {
                width: 100%;
                overflow: hidden;
                position: relative;
            }

            .reviews-track {
                display: flex;
                gap: 20px;
                animation: scroll-left 40s linear infinite;
            }

            .reviews-wrapper:hover .reviews-track {
                animation-play-state: paused;
            }

            @keyframes scroll-left {
                0% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(-50%);
                }
            }
        </style>

    </section>



    <section id="projects" class="max-w-6xl mx-auto px-5 py-14">
        <h2 class="font-display text-4xl text-[#ff5a00] font-semibold text-center">{% trans 'Проекты' %}</h2>
        <div class="h-px w-full xl:w-64 bg-[#a5a5a5] m-auto my-5"></div>
        {% if projects.exists %}        
            <div class="grid grid-cols-12">
                {% for project in projects %}
                    <a href="{% url 'project_detail' slug=project.slug id=project.id %}" class="text-[#a5a5a5] hover:text-[#ff5a00] bg-white/5 rounded-xl p-4 text-center hover:bg-white/10 transition col-span-3">
                        <img src="{% if project.project_images.first %}{{ project.project_images.first.image.url }}{% else %}https://atlantawatershed.org/wp-content/uploads/2017/06/default-placeholder-570x321.png{% endif %}" class="max-h-48 w-full rounded-lg mb-3">
                        <h3 class="font-display text-lg">{{ project.name }}</h3>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-[#a5a5a5] mt-2 text-center">{% trans 'Проекты пока не добавлены' %}</p>
        {% endif %}
    </section>

    <section id="clients" class="max-w-6xl mx-auto px-5 py-14">
        <h2 class="font-display text-4xl text-[#ff5a00] font-semibold text-center">{% trans 'Наши клиенты' %}</h2>
        <div class="h-px w-full xl:w-64 bg-[#a5a5a5] m-auto my-5"></div>
        {% if clients.exists %}
            <div class="grid grid-cols-12">
                {% for client in clients %}
                    <div class="flex flex-col items-center gap-1 col-span-3">
                        <div class="rounded-xl p-4 text-center text-[#a5a5a5] hover:text-[#ff5a00] hover:cursor-pointer transition">
                            <img src="{{ client.image.url }}" class="max-h-48 h-full w-full rounded-lg mb-3"/>
                            <h3 class="font-display text-lg">{{ client.name }}</h3>
                        </div>
                        {% if client.link %}
                            <a href="{{ client.link }}" class="flex flex-row items-center gap-1 text-sm text-[#a5a5a5] hover:text-blue-500 transition">
                                {% trans 'Сайт организации' %}
                                <span class="material-icons !text-sm">arrow_outward</span>
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-[#a5a5a5] mt-2 text-center">{% trans 'Клиенты пока не добавлены' %}</p>
        {% endif %}
    </section>

    <section id="gallery" class="max-w-6xl mx-auto px-5 py-14">
        <h2 class="font-display text-4xl text-[#ff5a00] font-semibold text-center">{% trans 'Галерея' %}</h2>
        <div class="h-px w-full xl:w-64 bg-[#a5a5a5] m-auto my-5"></div>
        {% if gallery_images.exists %}
            <div class="grid grid-cols-12 gap-2">
                {% for gallery_image in gallery_images %}
                    <div class="col-span-3 rounded-xl text-center transition">
                        <img data-description="{{ gallery_image.description }}" src="{{ gallery_image.image.url }}" class="max-h-48 h-full w-full rounded-lg cursor-pointer preview-img"/>
                        <h3 class="font-display text-lg text-[#a5a5a5] text-lg">{{ client.name }}</h3>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-[#a5a5a5] mt-2 text-center">{% trans 'Изображения пока не добавлены' %}</p>
        {% endif %}
    </section>

    <!-- Modal remains unchanged except no trans needed -->
    <div id="imageModal"
     class="fixed inset-0 bg-black/80 backdrop-blur-sm hidden items-center justify-center p-4 z-50">
        <button id="closeModal"
                class="absolute top-4 right-4 text-white text-3xl material-icons hover:scale-110 transition">
            close
        </button>

        <div class="flex flex-col gap-4 max-w-4xl w-full">
            <img id="modalImage"
                class="max-h-[80vh] min-h-[40vh] max-w-full rounded-xl shadow-2xl object-contain mx-auto"/>

            <span id="modalImageDescription"
                class="text-[#a5a5a5] text-lg leading-relaxed text-justify max-h-[40vh] overflow-y-auto"></span>
        </div>
    </div>
    
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const modal = document.getElementById("imageModal");
            const modalImage = document.getElementById("modalImage");
            const modalImageDescription = document.getElementById("modalImageDescription");
            const closeModal = document.getElementById("closeModal");

            // Open modal
            document.querySelectorAll(".preview-img").forEach(img => {
                img.addEventListener("click", () => {
                    modalImage.src = img.src;
                    modalImageDescription.textContent = img.dataset.description;

                    modal.classList.remove("hidden");
                    modal.classList.add("flex");

                    // LOCK screen scroll
                    document.body.style.overflow = "hidden";
                });
            });

            function close() {
                modal.classList.add("hidden");
                modal.classList.remove("flex");
                modalImage.src = "";

                // RESTORE scroll
                document.body.style.overflow = "";
            }

            closeModal.addEventListener("click", close);

            // Close by clicking outside content
            modal.addEventListener("click", (e) => {
                if (e.target === modal) close();
            });
        });
    </script>
{% endblock content %}
