<!DOCTYPE html>
{% load i18n static %}
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}">
	<head>
		<!-- Meta Tags for SEO -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Hitium.uz | {% trans "Установка и монтаж промышленного оборудования в Узбекистане" %}</title>

		<!-- Material icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<meta
			name="description"
			content="{% trans 'Профессиональная установка и монтаж промышленного оборудования в Узбекистане. Высокое качество и надежность.' %}"
		/>
		<meta
			name="keywords"
			content="{% trans 'Установка оборудования, монтаж промышленного оборудования, Узбекистан, Ташкент, Самарканд, Бухара, Навои, Фергана, Андижан, Наманган, промышленность, качество, надежность, Hitium.uz' %}"
		/>
		<meta name="author" content="Hitium.uz" />

		<!-- Open Graph for Social Media -->
		<meta
			property="og:title"
			content="Hitium.uz - {% trans 'Монтаж промышленного оборудования в Узбекистане' %}"
		/>
		<meta
			property="og:description"
			content="{% trans 'Профессиональный монтаж промышленного оборудования с гарантией качества в Узбекистане.' %}"
		/>
		<meta property="og:image" content="{% static 'images/og-image.jpg' %}" />
		<meta property="og:url" content="https://hitium.uz" />
		<meta property="og:type" content="website" />

		<!-- Twitter Cards -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Hitium.uz - {% trans 'Монтаж промышленного оборудования в Узбекистане' %}" />
		<meta name="twitter:description" content="{% trans 'Профессиональный монтаж промышленного оборудования с гарантией качества.' %}" />
		<meta name="twitter:image" content="{% static 'images/og-image.jpg' %}" />

		<link rel="canonical" href="https://hitium.uz" />

		<!-- Favicon -->
		<link rel="icon" href="{% static 'images/favicon-32x32.png' %}" type="image/x-icon" />
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}" />
		<link rel="manifest" href="{% static 'manifest.json' %}" />

		<!-- CSS Optimization -->
		<link rel="stylesheet" href="{% static 'css/index.css' %}" />

		<!-- Asynchronous JavaScript -->
		<script defer src="{% static 'js/index.js' %}"></script>

		<!-- Tailwind CSS -->
		<script src="https://cdn.tailwindcss.com"></script>

		<!-- Icons -->
		<script src="https://kit.fontawesome.com/2bd40b5115.js" crossorigin="anonymous"></script>
	</head>
	<body>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-CV78P2623G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CV78P2623G');
</script>

		{% include 'components/_mobile_menu.html' %}

        {% block content %} {% endblock content %}
        {% include 'components/_footer.html' %}

		<script>
			document.addEventListener("DOMContentLoaded", () => {
				const observer = new IntersectionObserver((entries) => {
					entries.forEach(entry => {
						if (entry.isIntersecting) {
							entry.target.classList.add("opacity-100", "translate-y-0");
						}
					});
				}, {
					threshold: 0.2, // Trigger when 20% of the section is visible
				});

				document.querySelectorAll("section").forEach(section => {
					observer.observe(section);
				});
			});
		</script>
	</body>
</html>
