{% load i18n static %}
<header class="flex justify-between items-center px-2 lg:px-10 py-2 lg:py-5 bg-white/5 border-b border-white/10">
    <a href="/" class="flex items-center gap-3 text-[#ff5a00]" aria-label="HITIUM home">
        <img src="https://hitium.uz/static/images/nav-logo.png" class="h-12 rounded-md object-contain"/>
    </a>

    <nav class="hidden sm:flex flex-row items-center gap-x-5">
        <a href="{% url 'home_page' %}#about" class="text-[#a5a5a5] font-semibold hover:text-[#ff5a00] text-sm">{% trans 'О компании' %}</a>
        <a href="{% url 'home_page' %}#services" class="text-[#a5a5a5] font-semibold hover:text-[#ff5a00] text-sm">{% trans 'Услуги' %}</a>
        <a href="{% url 'home_page' %}#projects" class="text-[#a5a5a5] font-semibold hover:text-[#ff5a00] text-sm">{% trans 'Проекты' %}</a>
        <a href="{% url 'home_page' %}#clients" class="text-[#a5a5a5] font-semibold hover:text-[#ff5a00] text-sm">{% trans 'Наши клиенты' %}</a>
        <a href="{% url 'home_page' %}#gallery" class="text-[#a5a5a5] font-semibold hover:text-[#ff5a00] text-sm">{% trans 'Галерея' %}</a>
        <a href="{% url 'home_page' %}#contacts" class="text-[#a5a5a5] font-semibold hover:text-[#ff5a00] text-sm">{% trans 'Контакты' %}</a>
        <div class="relative group">
            <a class="active:scale-90 h-10 flex items-center py-5 px-6 hover:opacity-90 transition gap-2" href="javascript:void(0)">
                <span class="text-2xl">
                    {% if request.LANGUAGE_CODE == 'uz' %}
                        <img src="{% static 'images/uzb.webp' %}" alt="Uzbek" class="w-5">
                    {% elif request.LANGUAGE_CODE == 'en' %}
                        <img src="{% static 'images/usa.png' %}" alt="English" class="w-5">
                    {% else %}
                        <img src="{% static 'images/rus.jpg' %}" alt="Russan" class="w-5">
                    {% endif %}
                </span>
                <span>{{ full_language_name }}</span>
            </a>

            <!-- Dropdown Menu (hidden by default, shown on hover) -->
            <ul class="w-[110px] absolute left-1/2 -translate-x-1/2 hidden bg-white rounded-lg text-black py-1 px-2 shadow-lg group-hover:block">
                <!-- Example languages, you can dynamically load them -->
                 {% for code, name in LANGUAGES %}
                    <li class="w-full">
                        <form action="{% url 'switch_language' %}" method="post" class="w-full">
                            {% csrf_token %}
                            <input type="hidden" name="language" value="{{ code }}">
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button type="{% if name == full_language_name %}button{% else %}submit{% endif %}" class="active:scale-90 flex items-center gap-1 w-full my-1 py-1 px-2 rounded hover:bg-[#ed4721] hover:text-white {% if request.LANGUAGE_CODE == code %} text-white bg-[#ed4721] {% endif %} transition">
                                <span>{{ name }}</span>
                            </button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>