{% load i18n %}
{% load static %}
<div style="z-index: 10" class="flex flex-col items-end xl:flex-row gap-1 py-1 px-5 w-full lg:items-center lg:flex-row lg:justify-between lg:py-3 border-b border-white border-opacity-25">
    <div class="flex items-center gap-2 text-white text-[0.8rem]">
		<span class="material-icons text-sm -rotate-45 order-2 lg:order-1">send</span>
		<div class="flex flex-row gap-1 order-1 lg:order-2">
            <span class="hidden lg:flex">Telegram:</span>
		    <a href="https://t.me/hitium" class="opacity-50 hover:text-[#ed4721] transition"> {% trans 'Написать в телеграм' %} </a>
        </div>
	</div>
	<div class="flex items-center gap-2 text-white text-[0.8rem]">
		<span class="material-icons text-sm order-2 lg:order-1">phone</span>
		<div class="flex flex-row gap-1 order-1 lg:order-2">
            <p class="hidden lg:flex">{% trans 'Позвонить' %} 24/7:</p>
		    <a href="tel:+998974458838" class="opacity-50 hover:text-[#ed4721] transition"> +998 97 445 88 38 </a>
        </div>
	</div>
</div>
<nav class="flex items-center justify-between text-white px-2">
    <a href="/" class="px-2 lg:px-0">
        <img class="h-[50px] lg:h-[90px]" src="{% static 'images/nav-logo.png' %}" alt="Hitium.uz">
    </a>
    <ul class="hidden lg:flex gap-[26px] text-[0.8125rem] uppercase">
        <li>
            <a class="active:scale-90 h-[40px] flex items-center py-[1.25rem] px-6 hover:opacity-90 transition {% if home_page %} border-b-4 border-b-[#ed4721] {% endif %}" href="/">{% trans 'Главная' %}</a>
        </li>

        <li class="relative group">
            <a class="active:scale-90 h-[40px] flex items-center py-[1.25rem] px-6 hover:opacity-90 transition {% if service_detail %} border-b-4 border-b-[#ed4721] {% endif %}" href="#!">{% trans 'Наши услуги' %}</a>
            <ul class="absolute z-50 w-[220px] left-1/2 -translate-x-1/2 hidden bg-white rounded-lg text-black py-1 px-2 rounded-md shadow-lg group-hover:block">
                {% for service_object in services %}
                    <li class="w-full">
                        <a href="{% url 'service_detail' slug=service_object.slug %}" class="block w-full text-center text-xs py-4 px-2 transition hover:text-[#ed4721] {% if service_object.name == service.name %} font-bold text-[#ed4721] {% else %} font-medium {% endif %}">{{ service_object.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    
        <!-- Language Dropdown -->
        <li class="relative group">
            <a class="active:scale-90 h-[40px] flex items-center py-[1.25rem] px-6 hover:opacity-90 transition gap-2" href="javascript:void(0)">
                <span class="text-2xl">
                    {% if request.LANGUAGE_CODE == 'uz' %}
                        <img src="{% static 'images/uzb.webp' %}" alt="Uzbek" class="w-5">
                    {% elif request.LANGUAGE_CODE == 'en' %}
                        <img src="{% static 'images/usa.png' %}" alt="English" class="w-5">
                    {% else %}
                        <img src="{% static 'images/rus.jpg' %}" alt="Russan" class="w-5">
                    {% endif %}
                </span>
                <span>{{ full_language_name }}</span>
            </a>
            
            <!-- Dropdown Menu (hidden by default, shown on hover) -->
            <ul class="w-[110px] absolute left-1/2 -translate-x-1/2 hidden bg-white rounded-lg text-black py-1 px-2 rounded-md shadow-lg group-hover:block">
                <!-- Example languages, you can dynamically load them -->
                 {% for code, name in LANGUAGES %}
                    <li class="w-full">
                        <form action="{% url 'switch_language' %}" method="post" class="w-full">
                            {% csrf_token %}
                            <input type="hidden" name="language" value="{{ code }}">
                            {% if service %}
                                {% if code == 'uz' %}
                                    <input type="hidden" name="next" value="/{{ code }}/{{ service.slug_uz }}/">
                                {% elif code == 'en' %}
                                    <input type="hidden" name="next" value="/{{ code }}/{{ service.slug_en }}/">
                                {% else %}
                                    <input type="hidden" name="next" value="/{{ code }}/{{ service.slug_ru }}/">
                                {% endif %}
                            {% else %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                            {% endif %}
                            <button type="{% if name == full_language_name %}button{% else %}submit{% endif %}" class="active:scale-90 flex items-center gap-1 w-full my-1 block py-1 px-2 rounded hover:bg-[#ed4721] hover:text-white {% if request.LANGUAGE_CODE == code %} text-white bg-[#ed4721] {% endif %} transition">
                                <span>{{ name }}</span>
                            </button>    
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </li>
        
        <li>
            <a class="active:scale-90 h-[40px] flex items-center py-[1.25rem] px-6 hover:opacity-90 transition bg-[#ed4721]" href="{% url 'contacts' %}">{% trans 'Контакты' %}</a>
        </li>
    </ul>
</nav>