{% load i18n %}
{% load static %}

<div
	class="w-full flex items-center justify-between py-3 border-b border-white border-opacity-25"
>
	<div
		class="text-white hover:text-[#ed4721] hover-pointer transition text-[0.8rem]"
	>
		<i class="fa-brands fa-telegram"></i>
		Telegram:
		<span class="opacity-50"> {% trans 'Написать в телеграм' %} </span>
	</div>
	<div class="text-white text-[0.8rem]">
		<i class="fa-solid fa-phone"></i>
		{% trans 'Позвонить' %} 24/7:
		<span class="opacity-50"> +998 97 445 88 38 </span>
	</div>
</div>

<nav class="flex items-center justify-between text-white">
    <a href="">
        <img class="h-[90px]" src="{% static 'images/nav-logo.png' %}" alt="Hitium.uz">
    </a>
    <ul class="flex gap-[26px] text-[0.8125rem] uppercase">
        <a class="active:scale-90 h-[40px] flex items-center py-[1.25rem] px-6 hover:opacity-90 transition {% if home_page %} border-b-4 border-b-[#ed4721] {% endif %}" href="">{% trans 'Главная' %}</a>
        <a class="active:scale-90 h-[40px] flex items-center py-[1.25rem] px-6 hover:opacity-90 transition" href="">{% trans 'Наши услиги' %}</a>
        
        <!-- Language Dropdown -->
        <li class="relative group">
            <a class="active:scale-90 h-[40px] flex items-center py-[1.25rem] px-6 hover:opacity-90 transition gap-2" href="javascript:void(0)">
                <span class="text-2xl">
                    {{ current_language_flag }}
                </span>
                <span>{{ full_language_name }}</span>
            </a>
            
            <!-- Dropdown Menu (hidden by default, shown on hover) -->
            <ul class="absolute left-0 hidden bg-white rounded-lg text-black py-2 px-4 rounded-md shadow-lg group-hover:block">
                <!-- Example languages, you can dynamically load them -->
                 {% for code, name in LANGUAGES %}
                    <li class="w-full">
                        <form action="{% url 'switch_language' %}" method="post" class="w-full">
                            {% csrf_token %}
                            <input type="hidden" name="language" value="{{ code }}">
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button type="{% if name == full_language_name %}button{% else %}submit{% endif %}" class="active:scale-90 flex items-center gap-1 w-full my-1 block py-1 px-2 rounded hover:bg-[#ed4721] hover:text-white {% get_current_language as LANGUAGE_CODE %} {% if LANGUAGE_CODE == code %} text-white bg-[#ed4721] {% endif %} transition">
                                <span class="text-2xl">
                                    {% if code == 'uz' %}
                                        {{ language_flags.uz }}
                                    {% elif code == 'en' %}
                                        {{ language_flags.en }}
                                    {% else %}
                                        {{ language_flags.ru }}
                                    {% endif %}
                                </span>
                                <span>{{ name }}</span>
                            </button>    
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </li>
        
        <a class="active:scale-90 h-[40px] flex items-center py-[1.25rem] px-6 hover:opacity-90 transition bg-[#ed4721]" href="">{% trans 'Контакты' %}</a>
    </ul>
</nav>

